PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=x7OfWi4B2HSKUppbG7UPx7iB9BLntxvm
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
